<h1>Trash this Trash</h1>
<h5>then go buy something better</h5>


<%= form_for(@cart, method: 'patch') do |f| %>
<%= f.label :items%>
<%= f.collection_check_boxes(:product_ids, @cart.products, :id, :name, prompt:"remove items") %>
<%= f.submit %>
<% end %>

<p><%= link_to "Home", home_path %></p>