<div class="jumbotron text-center"><h1>Hey! It's your Cart!</h1></div>
<div>
<ul>
<% if @cart.products == []%>
    Nothing to see here
<% else %>
<%@cart.products.each do |product| %>
<li><%= link_to product.name, product %></li>
<%end%>
<%end%>
</ul>
<p class="p-3 text-primary">Total Items in Cart: <%= @cart.products.count %></p>
</div>

<p class="p-3 text-primary"><%= link_to "Continue Shopping", home_path%> </p>
<p class="p-3 text-primary"><%= link_to "Edit Cart", edit_shopping_cart_path%> </p>
<br>
<%= link_to "My Account", user_path(session[:user_id])%>
<br>
<p class="p-3 text-primary"><%= link_to "Home", home_path %></p>