<div class="jumbotron text-center"><h3><%=@user.first_name%> <%=@user.last_name%></h3>
</div>

<br>

<p> <%= button_to "My Cart", shopping_cart_path(@user.shopping_carts.last.id), method: 'get', class: 'btn'%></p>
<br>
<div><%= button_to "Edit Account Information", edit_user_path, method: 'get', class: 'btn'%></div>
<br>
<p> <%= link_to "Continue Shopping", categories_path, class: 'btn'%></p>

